# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
.cursor/plans/circle_+_prediction_market_d9e77aa2.plan.md
packages/cre-jobs/prediction-market-job/.env
packages/cre-jobs/**/.workflow-temp-*
package-lock.json
